<!doctype html>
<html lang="en">

<head>
    <title>Courses</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {% load static %}
    <link rel="stylesheet" href="{% static 'course/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8 text-center">
                <h4>Are you sure you want to delete the following course?</h4>
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <p class="lead">
                            <strong>{{current_course.course_name}}</strong>
                        </p>
                        <p class="lead">
                            <em>{{current_course.description}}</em>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a href="/">
                    <input class="btn btn-info" type="submit" value="No">
                </a>
                <a href="/destroy/{{current_course.id}}">
                    <input class="btn btn-danger" type="submit" value="Yes">
                </a>
            </div>
        </div>
    </div>
</body>

</html>